@media (max-width: 992px) {
  header {
    height: 640px;
  }

  .logo-line {
    padding-top: 25px;
  }

  img {
    width: 75%;
  }

  .logo {
    text-align: left;
    padding: 0;
  }

  #logo-3 {
    text-align: right;
  }

  .header-subtitle-1,
  .header-subtitle-2 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .header-title {
    font-size: 16px;
    padding: 0;
    margin-left: -45px;
    margin-right: -45px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-top: 7px;
  }

  .slide-1 p {
    font-size: 26px;
    line-height: 40px;
  }

  #main-nav ul li {
    font-size: 16px;
    padding-right: 35px;
  }

  .slide-1 p {
    padding: 80px 0;
  }

  .project {
    padding: 0 15px;
    margin: 0;
  }

  .project-body {
    height: 260px;
  }

  .project img {
    height: 120px;
    padding-top: 25px;
    width: auto;
  }

  .project-mane-title,
  .project-title {
    font-size: 18px;
    padding-bottom: 8px;
    margin: 0;
    padding-top: 25px;
  }

  .project-subtitle {
    font-size: 16px;
    padding-bottom: 25px;
    margin: 0;
  }

  .col-news {
    padding: 15px 90px;
    width: 100%;
  }

  .container-news {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .volonteer-subtitle {
    padding-top: 30px;
  }

  .volonteer-subtitle p {
    font-size: 22px;
    padding: 0;
    margin: 0;
  }

  .volonteer-text {
    margin: 0;
    font-size: 20px;
    padding: 40px 0 50px 0;
  }

  .help-img {
    padding: 0;
    width: 215px;
  }

  .help-text {
    padding-top: 50px;
    font-size: 20px;
    padding-right: 0;
  }

  .help-text p {
    padding-bottom: 25px;
  }

  .container-sponsor {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .sponsor {
    margin: 15px 50px;
    padding: 30px 45px;
    width: auto;
  }

  .sponsor-row {
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0;
  }

  .sponsor-img {
    width: 30%;
  }

  .sponsor-text {
    width: 70%;
    padding-left: 15px;
  }

  .footer-center {
    padding: 0;
  }

  .footer-title {
    font-size: 16px;
    padding-bottom: 26px;
  }

  .footer-subtitle,
  .footer-subtitle-1,
  .footer-text {
    padding: 0;
    font-size: 14px;
    margin: 0;
    letter-spacing: 1px;
  }

  .footer-subtitle a,
  .footer-subtitle-1 a,
  .footer-text a {
    padding: 0;
    font-size: 14px;
    margin: 0;
    letter-spacing: 1px;
  }

  .footer-text {
    padding-bottom: 30px;
    margin: 0;
  }

  .footer-text a {
    padding-bottom: 30px;
    margin: 0;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-link-main {
    font-size: 16px;
  }

  .footer-row {
    border: none;
  }

  .footer-copy {
    font-size: 16px;
  }

  #btn-footer-center {
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 65px;
    border-bottom: 2px solid #fff;
    width: 100%;
  }

  #btn-footer-right {
    display: none;
  }
  .section-title p:before {
    left: 17%;
  }

  .section-title p:after {
    right: 17.5%;
  }
  #menu-projects:after {
    right: 19px;
  }
}
